* {
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 170px;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 10%;
}


#logo {
    height: 54px;
    width: auto;
    margin-bottom: 20px;
}

.logo__img {
    position: relative;
    top: -30px;
}

#menu {
    height: fit-content;
    width: auto;
    z-index: 2;
}

#shadeBG{
    background: rgb(0, 0, 0, 0.6);
    width: 90%;
    height: 600px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

#shadeBG__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    overflow: hidden;
}

#shadeBG__aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
}

#shadeBG__aside--rigInfo {
    background-color: rgba(0, 0, 0, 0.699);
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.carrito-aside {
    width: 60px;
    height: auto;
    margin: 15px 10px 0px 15px;
}

#shadeBG__body--header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#shadeBG__body--app {
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-right: 20px;
    
}

#builder {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#headerText {
    margin-left: 5px;
}

#videoBG {
    position: fixed;
    z-index: -1;
    
}

ul {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
ul li {
    display: inline;
    margin: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    text-shadow: 0px 3px 2px black, 0px 2px 1px black, 0px 4px 3px black, 0px 1px 1px black;
}

a:hover {
    text-shadow: 3px 3px 10px rgba(0, 217, 255, 0.7);
    transform: scale(1.04);
}



h1, h2 , h3{
    color: rgb(255, 255, 255);
}

p {
    color: rgb(114, 150, 118);
    margin: 0 3px 0 3px;
}

b {
    color: rgb(255, 255, 255);
    
}

h5 {
    font-size: large;
    color: rgb(255, 255, 255);
}


.procesadoresEnStock, .mothersEnStock, .ramsEnStock, .discosEnStock {
    background-color: rgba(0, 0, 0, 0.795);
    width: 150px;
    height: 280px;
    display: inline-block;
    text-align: center;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 3px 4px 1px rgba(0, 217, 255, 0.479);
}

.procesadoresEnStock:hover, .mothersEnStock:hover, .ramsEnStock:hover, .discosEnStock:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.03);
}

.ramsEnStock h5, .discosEnStock h5 {
    margin: 25px 0 25px 0;
}

.carrito {
    background-color: rgb(72, 72, 73);
    width:  150px;
    height: 80px;
    text-align: center;
    margin: 3px;
    padding: 3px;
}

.imagenes-proce {
    height: 50%;
    width: auto;
    
}


footer {
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contacto-footer {
    height: 90%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contacto-footerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contacto-linea {
    margin-top: 10px;
}

#geo-linea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#redes-footer {
    height: 90%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meme-logo {
    height: 90%;
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#meme-container {
    width: fit-content;
    height: fit-content;
    margin-right: 40px;
}

#meme-img {
    height: 150px;
    width: auto;
}

.geo {
    width: 20px;
    height: auto;
}

.media {
    display: inline;
    width: 50px;
    height: auto;
    margin: 9px;
    margin-top: 25px;
}

.media:hover {
    transform: scale(1.04);
}

footer b, footer p {
    display: inline-block;
    vertical-align: top;
    color: white;
}

#redes-footerImg {
    display: block;
}

#boton {
    margin-top: 10px;
    background:#0066A2;
    color:white;
    border-style:outset;
    border-color:#0066A2;
    height:50px;
    width:90%;
    font-size: 20px;
}

#boton-contacto {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-left: 30px;
    background:#0066A2;
    color:white;
    border-style:outset;
    border-color:#0066A2;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}