main {
    height: 100%;
}
#preguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#mineria {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.575);
    
}

h1, h2{
    color: white;
}

p {
    color: white;
    font-size: 25px;
}

#armarrig {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.575);
    margin: 50px;
}